.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg);
  color: white;
  padding-block: 1.5rem;
}

.span {
  cursor: pointer;
  font-size: 2rem;
}
