@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}
img {
  width: 100px;
  height: 100px;
  border: 2px solid whitesmoke;
}

.section {
  background-color: rgb(39, 57, 83);
  display: flex;
  /* border: 2px solid red; */
  margin-block: 1rem;
  /* width: 100%; */
  justify-content: space-between;
  margin: 1rem;
}
.section:hover {
  background-color: rgb(86, 102, 124);
}
.section-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 1rem;
  justify-content: center;
}
.img-content {
  display: flex;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 1rem; */
}
